.cluster {
  display: flex;
  flex-direction: row;
}

.cluster--wrap { flex-wrap: wrap; }

.cluster--align-start     { align-items: flex-start; }
.cluster--align-center    { align-items: center; }
.cluster--align-end       { align-items: flex-end; }
.cluster--align-baseline  { align-items: baseline; }

.cluster--justify-start    { justify-content: flex-start; }
.cluster--justify-center   { justify-content: center; }
.cluster--justify-end      { justify-content: flex-end; }
.cluster--justify-between  { justify-content: space-between; }
